<img class="banner" src="assets/banners/banner.bmp">
<div class="menu-container">
  <button mat-button [matMenuTriggerFor]="menu">Cards</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menu">Decks</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menu">Forums</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menu">Deckbuilder</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menu">Expansions</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
</div>